[package]
name = "micromap"
version = "0.0.0"
edition = "2021"
repository = "https://github.com/yegor256/micromap"
description = "A faster alternative to HashMap for super small maps"
readme = "README.md"
license-file = "LICENSE.txt"
homepage = "https://github.com/yegor256/micromap"
keywords = ["memory"]
categories = ["data-structures", "memory-management"]

[dependencies]
serde = { version = "1.0.160", features = ["derive"] }

[dev-dependencies]
anyhow = "1.0.70"
bincode = "1.3.3"
simple_logger = "4.1.0"
log = "0.4.17"
ctor = "0.2.0"
hashbrown = "0.13.2"
rustc-hash = "1.1.0"
nohash-hasher = "0.2.0"
tinymap = "0.4.0"
linked-hash-map = "0.5.6"
linear-map = "1.2.0"
indexmap = "1.9.3"